USE [master]
GO
/****** Object:  Database [ClubNautico]    Script Date: 18/12/2019 14:33:25 ******/
CREATE DATABASE [ClubNautico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClubNautico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ClubNautico.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ClubNautico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ClubNautico_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClubNautico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClubNautico]
GO
/****** Object:  Table [dbo].[barcos]    Script Date: 18/12/2019 14:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcos](
	[matricula] [char](7) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[noamarre] [int] NOT NULL,
	[cuota] [money] NULL,
	[idsocio] [int] NOT NULL,
 CONSTRAINT [PK_barcos] PRIMARY KEY CLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patrones]    Script Date: 18/12/2019 14:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patrones](
	[carnet] [char](10) NOT NULL,
	[dni] [char](9) NOT NULL,
 CONSTRAINT [PK_patrones] PRIMARY KEY CLUSTERED 
(
	[carnet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 18/12/2019 14:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[dni] [char](9) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salidas]    Script Date: 18/12/2019 14:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salidas](
	[idsalida] [int] IDENTITY(1,1) NOT NULL,
	[destino] [varchar](50) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[carnet] [char](10) NOT NULL,
	[matricula] [char](7) NOT NULL,
 CONSTRAINT [PK_salidas] PRIMARY KEY CLUSTERED 
(
	[idsalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socios]    Script Date: 18/12/2019 14:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios](
	[idsocio] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](9) NOT NULL,
 CONSTRAINT [PK_socios] PRIMARY KEY CLUSTERED 
(
	[idsocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[barcos]  WITH CHECK ADD  CONSTRAINT [FK_barcos_socios] FOREIGN KEY([idsocio])
REFERENCES [dbo].[socios] ([idsocio])
GO
ALTER TABLE [dbo].[barcos] CHECK CONSTRAINT [FK_barcos_socios]
GO
ALTER TABLE [dbo].[patrones]  WITH CHECK ADD  CONSTRAINT [FK_patrones_persona] FOREIGN KEY([dni])
REFERENCES [dbo].[persona] ([dni])
GO
ALTER TABLE [dbo].[patrones] CHECK CONSTRAINT [FK_patrones_persona]
GO
ALTER TABLE [dbo].[salidas]  WITH CHECK ADD  CONSTRAINT [FK_salidas_barcos] FOREIGN KEY([matricula])
REFERENCES [dbo].[barcos] ([matricula])
GO
ALTER TABLE [dbo].[salidas] CHECK CONSTRAINT [FK_salidas_barcos]
GO
ALTER TABLE [dbo].[salidas]  WITH CHECK ADD  CONSTRAINT [FK_salidas_patrones] FOREIGN KEY([carnet])
REFERENCES [dbo].[patrones] ([carnet])
GO
ALTER TABLE [dbo].[salidas] CHECK CONSTRAINT [FK_salidas_patrones]
GO
ALTER TABLE [dbo].[socios]  WITH CHECK ADD  CONSTRAINT [FK_socios_persona] FOREIGN KEY([dni])
REFERENCES [dbo].[persona] ([dni])
GO
ALTER TABLE [dbo].[socios] CHECK CONSTRAINT [FK_socios_persona]
GO
USE [master]
GO
